<h1>Welcome</h1>
<div class="main">
    <div class="card">
        <p>Create Account or Login</p>
        <a href="/users/register">Register</a>
        <a href="/users/login">Login</a>
        
    </div>
</div>